.footer {
    align-items: center;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px 10px;
    position: relative;
}

.footer_button-top::before {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    right: 11px;
    top: 14px;
    width: 18px;
}

.footer_button-top {
    border: none;
    background-color: #FF0026;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    width: 40px;
    z-index: 1000;
}

.footer_button-top::after {
    border: transparent;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    box-sizing: border-box;
    content: "";
    height: 13px;
    position: absolute;
    right: calc((40px - 10px * 1.4142) / 2);
    top: 22px;
    transform: rotate(-45deg);
    width: 13px;
}

.footer__top {
    display: none;
}

.footer__bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social__media {
    align-items: center;
    align-content: flex-start;
    display: flex;
    gap: 1.375rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.media__icon {
    height: 45px;
    width: 45px;
}

.links__footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links__footer a {
    color: #000;
    font-size: .8em;
    margin-bottom: 20px;
    text-decoration: none;
}

.links__footer a:hover {
    color: #a2030f;
    text-decoration: underline;
}

.hitachi-pages {
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
    width: 100%;
}

.hitachi-pages a {
    align-items: center;
    border: 1px solid #000;
    color: #000;
    display: flex;
    font-weight: bold;
    height: 47px;
    justify-content: center;
    margin: 5px 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
}

.hitachi-pages a:hover {
    background: var(--bg-items);
}

.copyright {
    background: #e3e3e3;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

.copy-link {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 56px;
    justify-content: center;
    margin-bottom: 15px;
}

.copy-link a {
    color: #000;
    font-size: .7em;
    text-decoration: none;
}

.copy-link a:hover {
    color: #a2030f;
    text-decoration: underline;
}

.copyright p {
    color: #000;
    font-size: .65em;
    margin-bottom: 15px;
    text-align: center;
}

@media only screen and (min-width:768px) { 

    .footer {
        background-color: var(--bg-2);
        padding: 0;
    }

    .footer__top {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .footer__top a::after{
        content: "\276F";
        margin-left: 5px;
        color: #d20011;

    }

    .footer__top a:hover {
        background: none;
        color: #a2030f;
        text-decoration: underline;
    }

    .ft-1 {
        height: 40px;
        border-left: 5px solid #a2030f;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .ft-1 a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        font-size: .9em;
    }

    .ft-2, .ft-3 {
        align-items: center;
        display: flex;
        height: 20px;
        margin: 5px 10px;
    }

    .ft-2 {
        justify-content: space-between;
        width: 500px;
    }

    .ft-3 {
        justify-content: space-between;
        width: 332px;
    }

    .ft-2 a {
        color: #000;
        font-weight: bold;
        font-size: .85em;
        text-decoration: none;
    }

    .ft-3 a {
        color: #a2030f;
        font-weight: 400;
        font-size: .85em;
        text-decoration: none;
    }

    .fb__links {
        align-items: center;
        display: flex;
        height: 50px;
        padding: 25px 0;
        width: 100%;
    }

    .social__media {
        justify-content: center;
        width: 50%;
    }

    .links__footer {
        flex-direction: row;
        width: 50%;
    }

    .links__footer a {
        padding-left: 15px;
    }

    .media__icon {
        height: 32px;
        width: 32px;
    }

    .hitachi-pages {
        background: none;
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    .hitachi-pages a {
        border: none;
        height: 26px;
        justify-content: center;
        margin: 0;
    }

    .hitachi-pages a:hover {
        background: none;
        color: #a2030f;
        text-decoration: underline;
    }

    .footer__bottom {
        background: #e3e3e3;
    }
}

@media only screen and (min-width:1024px) {
    .footer__top {
        align-items: flex-start;
        width: 100%;
    }

    .ft-2 {
        width: 800px;
    }

    .ft-3 {
        width: 487px;
    }
}