.main__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__object {
    box-sizing: border-box;
    border-top: 5px solid #d20011;
    background-color: #000;
    color: #FFF;
    height: 230px;
    margin: 10px 15px;
    padding: 30px 20px;
    position: relative;
    width: 100%;
}

.main__object-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.main__object-subtitle {
    line-height: 1.3em;
    width: 100%;
}

.main__object:nth-child(1) {
    background: rgba(0, 0, 0, 0.7) url('../../img/ti-capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;  
}

.main__object:nth-child(2) {
    background: rgba(0, 0, 0, 0.7) url('../../img/energia-capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;  
}

.main__object:nth-child(3) {
    background: rgba(0, 0, 0, 0.7) url('../../img/mobilidade-capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;  
}

.main__object:nth-child(4) {
    background: rgba(0, 0, 0, 0.7) url('../../img/industria-capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;  
}

.main__object:nth-child(5) {
    background: rgba(0, 0, 0, 0.7) url('../../img/vida-inteligente-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;  
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {

    .main__content {
        margin-bottom: 2rem;
        width: 768px;
    }

    .main__object {
        align-items: flex-end;
        border: none;
        display: flex;
        margin: 5px;
        padding: 0;
        width: 240px;
    }

    .main__object-title {
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 1em;
        margin-bottom: 0;
        padding: 13px 15px;
        padding: 5px;
        width: 100%;
    }

    .main__object:nth-child(5) {
        margin-bottom: 10px;
    }

    .main__object:nth-child(1),
     .main__object:nth-child(2),
      .main__object:nth-child(3),
       .main__object:nth-child(4),
        .main__object:nth-child(5) {
        background-blend-mode: normal;
    }

    .up-text {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }
    
}

@media screen and (min-width: 1101px) {

    .main__content {
        width: 1110px;
    }

    .main__object {
        height: 258px;
        max-width: 360px;
        width: 40%;
    }
}

@media screen and (min-width: 1306px) {

    .main__content {
        width: 1306px;
    }

    .main__object {
        width: 412px;
    }

}